 body {
    font-family: Georgia, "Times New Roman",Times, serif;
    color: purple;
    font-size: 18px;
    background-image: url("fotos/bg_gotham.jpg"); 
}
   h1 {
    font-family: Helvetica, Arial, sans-serif; 
}
   p.uno{
   	font-family: "Comic Sans MS";
   	font-size: 20px;
   	color: yellow;
   	background-color: black;
    text-align:center;
   }
   p.dos{
   	font-family: Broadway, Calibri;
   	font-size: 15px;
   	color: red;
   	background-color: white;
   }

   .container2 {
  background-image: url(fotos/blur3.png);
  background-size: cover;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  font-size: 25px;
  color: #f9f9f9;
  text-shadow: 2px 2px 2px black;
  padding: 50px;
}